*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: rgb(184, 234, 255);
}
body{
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20pt;
    color: rgb(0, 58, 94);
}
h2{
    padding: 20pt 40pt;
    background-color: rgb(0, 19, 31);
    color: white;
}
button{
    padding: 10pt 20pt;
    border: none;
    border-radius: 6pt;
    background-color: rgb(0, 165, 211);
        color: rgb(255, 255, 255);
        font-size: 1.4rem;
    }
button:active{
    scale: .95;
}